<h2>Reactivos: Básicos</h2>
<hr>

<div class="row">
    <!-- Campo de producto -->
    <div class="col">
        <form autocomplete="off" 
              (ngSubmit)="guardar()"
              [formGroup]="miFormulario">  
            <!-- campo producto -->
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Producto</label>
                <div class="col-sm-10">
                  <input type="text" 
                         class="form-control"   
                         formControlName="nombre"                     
                         placeholder="Nombre de producto">
                  <span *ngIf=" campoInvalido( 'nombre' ) "
                      class="form-text text-danger">
                      Debe ser de tres letras
                  </span>
                </div>
            </div>
        

            <!-- Campo de precio -->            
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Precio</label>
                <div class="col-sm-10">
                    <input type="number" 
                        class="form-control"   
                        formControlName="precio"                     
                        placeholder="Precio del producto">
                    <span *ngIf=" campoInvalido( 'precio' ) "
                        class="form-text text-danger">
                         El precio debe ser mayor a cero.
                    </span>
                </div>
            </div>

            <!-- Campo de existencias -->            
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Existencias</label>
                <div class="col-sm-10">
                    <input  
                         type="number" 
                         formControlName="existencias" 
                         class="form-control"                                             
                         placeholder="Existencias del producto">
                    <span *ngIf=" campoInvalido( 'existencias' ) "
                         class="form-text text-danger">
                          Las existencias deben ser 0 ó mayor
                     </span>

                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="submit"
                            class="btn btn-primary float-end ">
                        Guardar
                    </button>
                </div>
            </div>
               

    </form>
    </div>
</div>

<div class="row">
    <div class="col">

        <span>Valid</span>
        <pre> {{ miFormulario.valid }} </pre>

        <span>Pristine</span>
        <pre> {{ miFormulario.pristine }} </pre>


        <span>Touched</span>
        <pre> {{ miFormulario.touched }} </pre>

        <span>Value</span>
        <pre> {{ miFormulario.value | json }} </pre>

        <span>Precio</span>
        <pre> {{ miFormulario.controls['precio'].errors | json }} </pre>


    </div>
</div>





