<h2>Reactivos: <small> Dinámicos </small> </h2>
<hr>

<form (ngSubmit)="guardar()"
        [formGroup]="miFormulario"
        autocomplete="off">


    <!-- Nombre -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input class="form-control"
                    formControlName="nombre"
                    placeholder="Nombre de la persona" >
            <span *ngIf="campoInvalido('nombre')" 
                class="form-text text-danger">
                         Campo de al menos tres caracteres
            </span>
                
        </div>
    </div>

    <!-- Agregar Favorito -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">

            <div class="input-group mb-3">
                <input class="form-control" 
                    [formControl]="nuevoFavorito"
                    (keyup.enter)="agregarFavorito()"
                    placeholder="Agregar favorito">

                <button class="btn btn-outline-primary" 
                 (click)="agregarFavorito()"
                    type="button">
                    Agregar
                </button>
              </div>   

        </div>
    </div>

    <!-- Lista de programas favoritos -->
    <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Favoritos</label>
            <div class="col-sm-9" formArrayName="favoritos">

                <div class="input-group mb-1"
                    *ngFor="let favoritos of getFavoritosArr.controls; let i = index">
                        <input class="form-control"
                        [formControlName]="i">

                        <button class="btn btn-outline-danger" 
                        (click)="borrar(i)"
                        type="button">
                        Borrar
                    </button>
                </div>

                
 
            </div>
     </div>



    <div class="row">
        <div class="col-sm-12">
            <button type="submit"
                class="btn btn-primary float-end"
                (click)="guardar()">
                Guardar
            </button>
                
        </div>
    </div>

</form>

<span>Valid</span>
    <pre>{{ miFormulario.valid | json }}</pre>

<span>Value</span>
    <pre>{{ miFormulario.value | json }}</pre>
<br>

<span>Agregar dorama</span>
    <pre>{{ nuevoFavorito.valid | json }}</pre>
    <pre>{{ nuevoFavorito.value | json }}</pre>
