<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
    <div class="col">
        <form autocomplete="off"
              (ngSubmit)="submitFormulario()"
              [formGroup]="miFormulario" >
            <!-- Nombre -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input type="text"
                        class="form-control"
                        formControlName="nombre"
                        placeholder="Nombre del usuario" >

                    <span *ngIf="campoNoValido('nombre')" 
                        class="form-text text-danger">
                        Debe ser en formato de nombre y apellido
                    </span>
                </div>
            </div>

            <!-- Email -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="email"
                        class="form-control"
                        formControlName="email"
                        placeholder="Email del usuario" >
                    <span *ngIf="campoNoValido('email')" 
                        class="form-text text-danger">
                        El correo es obligatorio
                    </span>

                </div>
            </div>

            <!-- User Name -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input type="texto"
                        class="form-control"
                        formControlName="username"
                        placeholder="Nombre código del usuario" >
                        <span *ngIf="campoNoValido('username')" 
                        class="form-text text-danger">
                            No puede ser Minetaky
                    </span>

                </div>
            </div>

            <!-- Password -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input type="password"
                        class="form-control"
                        formControlName="password"
                        placeholder="Password de la cuenta" >
                    <span *ngIf="campoNoValido('password')" 
                        class="form-text text-danger">
                            La contraseña debe ser mayor de 6 caracteres
                    </span>

                </div>
            </div>

            <!-- Password 2 -->
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Confirmar Password</label>
                <div class="col-sm-9">
                    <input type="password"
                        class="form-control"
                        formControlName="password2"
                        placeholder="Confirmar Password" >
                    <span *ngIf="campoNoValido('password2')" 
                        class="form-text text-danger">
                            las contraseñas debe ser iguales
                    </span>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <button type="submit" 
                        class="btn btn-primary float-end">
                        Guardar
                    </button>
                </div>
            </div>



        </form>
    </div>
</div>

<h5>Form Valid: {{ miFormulario.valid }}</h5>
<h5>Form errors:</h5>
<pre>{{ miFormulario.errors| json }}</pre>

<h5>Nombre:</h5>
<pre>{{ miFormulario.controls['nombre'].errors | json }}</pre>

<h5>Email:</h5>
<pre>{{ miFormulario.controls['email'].errors | json }}</pre>

<h5>Username:</h5>
<pre>{{ miFormulario.controls['username'].errors | json }}</pre>

<h5>Password:</h5>
<pre>{{ miFormulario.controls['password'].errors | json }}</pre>

<h5>Password2:</h5>
<pre>{{ miFormulario.controls['password2'].errors | json }}</pre>

